.page{
	width : 900px;
	margin : auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri, Tahoma, sans-serif;
        
	}
	
.info_titre_photo{
	height : 250px;
	}
.titre_info{
	float : left;
	}
.photo{
	
	}
	
strong{
	font-size : 26px;
	}
	
.section{
	margin-bottom : 70px;
	text-align : justify;
	}
	
h2{
	font-size : 28px;
	color : #3388BB;
	text-transform : upercase;
	border-bottom: 3px solid #3388DD;
	}
	
.sec-gauche{
	float : left;
	font-weight : bold;
	font-size : 20px;
    
	}
.sec-droite{

	//background-color : #FAF0C5;
	margin-left : 150px;
	margin-top : 37px;    
	}

.université{
	font-weight : bold;
	font-size : 20px;
	}
/*#forma-gauche p{
	margin-bottom : 37px;
	}*/
	



	
		
		
